.clientContainer {
    width: 300px;
  }
  
  .label {
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* .flexRow {
      display: flex;
      flex-direction: row;
    } */
  
  .input {
    margin-left: 10px;
  }
  
  .buttonWorkout {
    margin: 25px 0 0 10px;
    width: 150px;
  }
  
  .divForLabelAndInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }