.container {
  width: 300px;
}

.label {
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
}

.input {
  margin-left: 10px;
}

.button {
  margin: 25px 0 0 10px;
  width: 200px;
}

.divForLabelAndInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
