.login-Container {
  display: flex;
  flex-direction: row;
  max-width: 35%;
  justify-content: space-between;
}

.placinglogin {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.button {
  width: 100px;
}

.label {
  font-size: large;
  font-weight: bold;
}
